pipeline/document-intelligence-receipts.json
{
	"name": "document-intelligence-receipts",
	"properties": {
		"activities": [
			{
				"name": "DI Endpoint",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "di_endpoint",
					"value": "https://tuthmosis-iii.cognitiveservices.azure.com/"
				}
			},
			{
				"name": "DI API Key",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "di_API_key",
					"value": "24d747472a1f4f9c8dc81d8ace4ecafd"
				}
			},
			{
				"name": "ADF Pass Parameters",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DI Endpoint",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "DI API Key",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "File Location",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/util/databricks-utils/Document Intelligence Template",
					"baseParameters": {
						"di_endpoint": {
							"value": "@variables('di_endpoint')",
							"type": "Expression"
						},
						"di_API_key": {
							"value": "@variables('di_API_key')",
							"type": "Expression"
						},
						"receipt_url": {
							"value": "@variables('receipt_url')",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "azure-ai-textanalytics"
							}
						},
						{
							"pypi": {
								"package": "azure.ai.documentintelligence"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "katate_tsuki_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File Location",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "receipt_url",
					"value": "https://taihustorage.blob.core.windows.net/formintelligence/linked-recipts.pdf"
				}
			},
			{
				"name": "Send Failure Notification",
				"description": "Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ADF Pass Parameters",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-13.southcentralus.logic.azure.com:443/workflows/314c5568061147f1bf20f25d26eb249a/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=DtfWos4Hw5xgzelc4lPYV061yXBXe6f-RC-YT9kgci8",
					"body": {
						"value": "{\n\"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\n\"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n\"pipelineName\" : \"@{pipeline().Pipeline}\", \n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"di_endpoint": {
				"type": "String"
			},
			"di_API_key": {
				"type": "String"
			},
			"receipt_url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Document Intelligence"
		},
		"annotations": []
	}
}