pipeline/Orders_OLIST.json
{
	"name": "Orders_OLIST",
	"properties": {
		"activities": [
			{
				"name": "Orders Olist",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Blob Name",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Account Url",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Sas Token",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Container Name",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Analytics Workflow/Orders_OLIST",
					"baseParameters": {
						"di_endpoint": {
							"value": "@variables('di_endpoint')",
							"type": "Expression"
						},
						"di_API_key": {
							"value": "@variables('di_API_key')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DEV Morote_Tsuki",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Blob Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blob_name",
					"value": "olist_orders_dataset.csv"
				}
			},
			{
				"name": "Sas Token",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sas_token",
					"value": "sv=2022-11-02&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2025-08-06T00:55:06Z&st=2025-02-05T17:55:06Z&spr=https&sig=tn2LnBh1r4VcOPSKEO0evtSItenWqA%2BcxC4UybsNALU%3D"
				}
			},
			{
				"name": "Container Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "container_name",
					"value": "brazil-ecom"
				}
			},
			{
				"name": "Account Url",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "account_url",
					"value": "https://donghu.blob.core.windows.net"
				}
			}
		],
		"variables": {
			"di_endpoint": {
				"type": "String"
			},
			"di_API_key": {
				"type": "String"
			},
			"receipt_url": {
				"type": "String"
			},
			"account_url": {
				"type": "String"
			},
			"sas_token": {
				"type": "String"
			},
			"container_name": {
				"type": "String"
			},
			"blob_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Analytics Workflows/OLIST_Simple"
		},
		"annotations": []
	}
}