pipeline/pass-variable.json
{
	"name": "pass-variable",
	"properties": {
		"activities": [
			{
				"name": "DI Endpoint",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "di_endpoint",
					"value": "https://dev-ramasses.cognitiveservices.azure.com/"
				}
			},
			{
				"name": "DI API Key",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "di_API_key",
					"value": "ef80053dae2f4638b049e818f42437ab"
				}
			},
			{
				"name": "ADF Pass Parameters",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DI Endpoint",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "DI API Key",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "File Location",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/util/databricks-utils/Document Intelligence Template",
					"baseParameters": {
						"di_endpoint": {
							"value": "@variables('di_endpoint')",
							"type": "Expression"
						},
						"di_API_key": {
							"value": "@variables('di_API_key')",
							"type": "Expression"
						},
						"receipt_url": {
							"value": "@variables('receipt_url')",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "azure-ai-textanalytics"
							}
						},
						{
							"pypi": {
								"package": "azure.ai.documentintelligence"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "katate_tsuki_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File Location",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "receipt_url",
					"value": "https://donghu.blob.core.windows.net/doc-intelligence/linked-recipts.pdf"
				}
			}
		],
		"variables": {
			"di_endpoint": {
				"type": "String"
			},
			"di_API_key": {
				"type": "String"
			},
			"receipt_url": {
				"type": "String"
			}
		},
		"annotations": []
	}
}